* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  background: #95b818;
  width: 100%;
  position: fixed;
  z-index: 102;
}

.header_link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.header_link_img {
  position: absolute;
  left: -20px;
  height: 40px;
  animation: spin 5s linear infinite;
}

.header_link_img img {
  height: 100%;
  display: block;
}

.header_link_ttl {
  height: 30px;
  margin-left: 30px;
}

.header_link_ttl img {
  height: 100%;
  display: block;
}

#nav {
  position: fixed;
  margin-top: 60px;
  top: -180px;
  z-index: 101;
}

#nav.open {
  top: 0;
}

#nav .nav_link {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

#nav .nav_link li {
  width: 25%;
  background: #a1c22d;
  z-index: 9;
}

#nav .nav_link li a {
  width: 100%;
  display: block;
}

#nav .nav_link li a img {
  width: 100%;
  height: 90px;
  padding: 20px 0;
  display: block;
}

#nav .nav_link .nav_link_light {
  background: #adcc3b;
}

#nav #nav_click {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #a1c22d;
  position: absolute;
  bottom: -30px;
  right: 30px;
  z-index: 0;
  display: block;
}

#nav #nav_click.spin::after {
  transform: translateX(50%) rotate(-180deg);
}

#nav #nav_click::after {
  content: "";
  background: url(img/download.svg) no-repeat;
  width: 18px;
  height: 15px;
  position: absolute;
  bottom: 15%;
  right: 50%;
  transform: translateX(50%) rotate(0deg);
  transition: 0.3s;
}

.contents {
  width: 100%;
}

.contents .anniversary {
  width: 100%;
  margin-bottom: 20px;
}

.contents .anniversary a {
  display: block;
  width: 100%;
  padding-top: 60px;
}

.contents .anniversary a img {
  display: block;
  width: 100%;
  height: auto;
}

.contents .product {
  width: 100%;
  margin-bottom: 20px;
}

.contents .product_list {
  width: 100%;
  display: flex;
  list-style: none;
}

.contents .product_list li {
  width: 50%;
}

.contents .product_list li a {
  display: block;
  width: 100%;
}

.contents .product_list li a img {
  width: 100%;
}

.contents .news {
  width: 100%;
}

.contents .news ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  list-style: none;
}

.contents .news ul li a {
  width: 100vw;
  display: block;
  background: #ff8400;
}

.contents .news_top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: solid 2px rgba(255, 164, 7, 0.975);
}

.contents .news_top_img {
  background: url(img/news.svg) no-repeat;
  width: 27vw;
}

.contents .news_top_date {
  font-weight: bold;
}

.contents .news_bottom {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.contents .topics {
  width: 100%;
}

.contents .topics .slick-prev {
  background: url(./img/slide_pp.svg);
}

.contents .topics .slick-next {
  background: url(./img/slide_pp.svg);
}

.contents .topics ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  list-style: none;
}

.contents .topics ul li a {
  width: 100vw;
  display: block;
  background: #9163a7;
}

.contents .topics_top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: solid 2px #b89bc7;
}

.contents .topics_top_img {
  background: url(./img/topics.svg) no-repeat;
  width: 27vw;
}

.contents .topics_top_date {
  font-weight: bold;
}

.contents .topics_bottom {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.contents .service {
  width: 100%;
}

.contents .service .slick-prev {
  background: url(./img/slide_gr.svg);
}

.contents .service .slick-next {
  background: url(./img/slide_gr.svg);
}

.contents .service ul {
  width: 100vw;
  display: flex;
  justify-content: center;
  list-style: none;
}

.contents .service ul li a {
  width: 100vw;
  height: 300px;
  display: block;
  background: #b8d200;
}

.contents .service_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.contents .service_top_img {
  background: url(./img/searvice.svg) no-repeat;
  width: 50vw;
  height: 40px;
}

.contents .service_top_ttl {
  font-weight: bold;
  margin: 10px 0;
  font-size: 23px;
  height: 50px;
  position: relative;
  display: flex;
}

.contents .service_top_ttl .left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 33px;
  background: white;
  color: #b8d200;
}

.contents .service_top_ttl .right {
  line-height: 25px;
  margin-left: 10px;
}

.contents .service_bottom {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

.contents .shop {
  width: 100%;
}

.contents .shop_ttl {
  width: 100px;
  margin: 0 auto;
}

.contents .shop_ttl img {
  width: 100%;
}

.contents .shop_list {
  width: 100%;
  margin-top: 10px;
}

.contents .shop_list li.open {
  overflow: visible;
  display: block;
}

.contents .shop_list li.open span {
  background-color: #f2f8d5;
}

.contents .shop_list li.open span:after {
  border-color: transparent transparent #f2f8d5;
}

.contents .shop .shin_koiwa {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .shin_koiwa.open .shin_koiwa_ttl {
  height: 110px;
}

.contents .shop .shin_koiwa.open .shin_koiwa_ttl_inner::before {
  height: 110px;
}

.contents .shop .shin_koiwa.open .shin_koiwa_ttl_inner::after {
  background-color: initial;
}

.contents .shop .shin_koiwa.open .shop_body {
  display: block;
}

.contents .shop .shin_koiwa.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .shin_koiwa_ttl {
  pointer-events: none;
  display: block;
  position: relative;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .shin_koiwa_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .shin_koiwa_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_shinkoiwa.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .shin_koiwa_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt2.svg);
  background-repeat: no-repeat;
}

.contents .shop .shin_koiwa_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .shin_koiwa_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop .ichikawa {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .ichikawa.open .ichikawa_ttl {
  height: 110px;
}

.contents .shop .ichikawa.open .ichikawa_ttl_inner::before {
  height: 110px;
}

.contents .shop .ichikawa.open .ichikawa_ttl_inner::after {
  background-color: initial;
}

.contents .shop .ichikawa.open .shop_body {
  display: block;
}

.contents .shop .ichikawa.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .ichikawa_ttl {
  pointer-events: none;
  display: block;
  position: relative;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .ichikawa_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .ichikawa_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_ichikawa.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .ichikawa_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt1.svg);
  background-repeat: no-repeat;
}

.contents .shop .ichikawa_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .ichikawa_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop .chiba {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .chiba.open .chiba_ttl {
  height: 110px;
}

.contents .shop .chiba.open .chiba_ttl_inner::before {
  height: 110px;
}

.contents .shop .chiba.open .chiba_ttl_inner::after {
  background-color: initial;
}

.contents .shop .chiba.open .shop_body {
  display: block;
}

.contents .shop .chiba.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .chiba_ttl {
  pointer-events: none;
  display: block;
  position: relative;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .chiba_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .chiba_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_chibakita02.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .chiba_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt3.svg);
  background-repeat: no-repeat;
}

.contents .shop .chiba_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .chiba_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop .narita {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .narita.open .narita_ttl {
  height: 110px;
}

.contents .shop .narita.open .narita_ttl_inner::before {
  height: 110px;
}

.contents .shop .narita.open .narita_ttl_inner::after {
  background-color: initial;
}

.contents .shop .narita.open .shop_body {
  display: block;
}

.contents .shop .narita.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .narita_ttl {
  display: block;
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .narita_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .narita_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_narita.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .narita_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt4.svg);
  background-repeat: no-repeat;
}

.contents .shop .narita_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .narita_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop .togane {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .togane.open .togane_ttl {
  height: 110px;
}

.contents .shop .togane.open .togane_ttl_inner::before {
  height: 110px;
}

.contents .shop .togane.open .togane_ttl_inner::after {
  background-color: initial;
}

.contents .shop .togane.open .shop_body {
  display: block;
}

.contents .shop .togane.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .togane_ttl {
  display: block;
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .togane_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .togane_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_togane02.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .togane_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt5.svg);
  background-repeat: no-repeat;
}

.contents .shop .togane_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .togane_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop .mobara {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: .3s;
  border-bottom: 3px solid #fff;
}

.contents .shop .mobara.open .mobara_ttl {
  height: 110px;
}

.contents .shop .mobara.open .mobara_ttl_inner::before {
  height: 110px;
}

.contents .shop .mobara.open .mobara_ttl_inner::after {
  background-color: initial;
}

.contents .shop .mobara.open .shop_body {
  display: block;
}

.contents .shop .mobara.open .shop_body_inner {
  transform: translateY(0);
}

.contents .shop .mobara_ttl {
  display: block;
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 90px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .mobara_ttl_inner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 110px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.contents .shop .mobara_ttl_inner::before {
  position: absolute;
  content: '';
  transition: .3s;
  background-repeat: no-repeat;
  background-image: url(img/bg_shop_mobara.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-position: center;
  background-size: cover;
}

.contents .shop .mobara_ttl_inner::after {
  position: absolute;
  content: '';
  transition: .3s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 30px 35px;
  background-size: 220px;
  background-image: url(img/txt6.svg);
  background-repeat: no-repeat;
}

.contents .shop .mobara_ttl_inner_head {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: calc(100vw - 30px);
  height: 20px;
  transform: translateX(-50%);
  background-color: #fff;
}

.contents .shop .mobara_ttl_inner_head:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.contents .shop_body {
  position: relative;
  display: none;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding: 0 15px 15px;
  background-color: #b8d220;
  background-image: -webkit-linear-gradient(45deg, #adcb02 25%, #adcb02 25%, transparent 25%, transparent 75%, #adcb02 75%, #adcb02 75%), -webkit-linear-gradient(-135deg, #adcb02 25%, #adcb02 25%, transparent 25%, transparent 75%, #adcb02 75%, #adcb02 75%);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}

.contents .shop_body_inner {
  transform: translateY(-110%);
  position: relative;
  width: 100%;
  padding: 0 15px 15px;
  transition: .3s;
  transform-origin: top;
  word-break: break-all;
  background-color: #f2f8d5;
}

.contents .shop_body_inner_ttl {
  font-weight: bold;
  padding: 10px 0 30px 20px;
  padding-top: 10px;
  font-size: 12px;
  display: inline-block;
}

.contents .shop_body_inner_ttl:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 13px;
  background-image: url(img/right2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.contents .shop_body_inner_img {
  position: absolute;
  right: 20px;
  top: 0;
  display: flex;
  align-items: center;
}

.contents .shop_body_inner_img_home {
  display: block;
  background-image: url(img/home.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

.contents .shop_body_inner_img_map {
  display: block;
  background-image: url(img/map.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.contents .shop_body_inner_table {
  margin-bottom: 20px;
}

.contents .shop_body_inner_table th {
  text-align: left;
  display: inline-block;
}

.contents .shop_body_inner_table th span {
  margin-left: 5px;
}

.contents .shop_body_inner_table td {
  font-weight: bold;
}

.contents .shop_body_inner_txt {
  border-top: solid 2px #abcd03;
  padding-top: 20px;
  margin-bottom: 20px;
}

.contents .shop_body_inner_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 3px;
}

.contents .shop_body_inner_list li {
  width: 30%;
}

.contents .shop_body_inner_list li img {
  width: 100%;
}

.contents .shop_body_inner_notice {
  padding-left: 20px;
  position: relative;
}

.contents .shop_body_inner_notice:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url(img/right2.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.contents .shop_body_inner_event {
  text-align: center;
  width: 100%;
  border: solid 5px red;
  background-color: #fff;
  padding: 5px 0;
  position: relative;
}

.contents .shop_body_inner_event:before {
  right: -5px;
  bottom: -5px;
  width: 30px;
  height: 30px;
  position: absolute;
  content: '';
  border-radius: 100px 0 0;
  background-color: red;
}

.contents .shop_body_inner_event:after {
  right: 4px;
  bottom: 4px;
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  border-width: 0 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #fc87a3;
  transition: border-left .1s linear;
}

.contents .shop_body_inner_event_ttl {
  color: red;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  line-height: 40px;
}

.contents .shop_body_inner_event_txt {
  color: red;
  font-size: 10px;
}

.footer {
  width: 100%;
  background: #bed932;
  position: relative;
}

.footer_totop {
  width: 100%;
  padding: 10px 0;
  background: #aacc07;
}

.footer_totop img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.footer_sns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
}

.footer_sns li a img {
  height: 40px;
}

.footer_txt {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.486);
}

.footer_adress {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
  color: white;
  border-top: solid 1px #fff;
}
