* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.hidden {
  display: none;
}

.slick-prev {
  background: url(./img/img_arrowprev.png);
  background-size: cover;
  background-position: center;
  width: 40px;
}

.slick-next {
  background: url(./img/img_arrowprev.png);
  background-size: cover;
  background-position: center;
  width: 40px;
}

.header {
  display: flex;
  align-items: center;
}

.header_contact {
  width: 15%;
  margin: 0 auto;
}

.header_contact img {
  width: 100%;
  display: block;
}

.header_search {
  width: 15%;
  margin: 0 auto;
}

.header_search img {
  width: 100%;
  display: block;
}

.contents {
  width: 100%;
  margin: 80px 0;
  position: relative;
}

.contents_slide {
  overflow: scroll;
}

.contents_slide ul {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.contents_slide_item {
  width: 90vw;
}

.contents_slide_item a {
  width: 100%;
  display: block;
  background: #fff;
}

.contents_slide_item a img {
  width: 100%;
  display: block;
}

.contents_slide .slick-dots li button:before {
  color: #95b818;
}

.contents .search {
  width: 90%;
  margin: 0 auto 20px;
}

.contents .search ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.contents .search_item {
  width: 50%;
  height: 70px;
  background: #abcd03;
}

.contents .search_item a {
  display: block;
  width: 100%;
  height: 70px;
}

.contents .search_item a.name {
  background: url(img/icon_searchmaker.png) no-repeat;
  background-size: 70%;
  background-position: 20% center;
  border-right: solid 4px #fff;
  border-bottom: solid 4px #fff;
}

.contents .search_item a.type {
  background: url(img/icon_searchtype.png) no-repeat;
  background-size: 70%;
  background-position: 20% center;
  border-bottom: solid 4px #fff;
}

.contents .search_item a.price {
  background: url(img/icon_searchprice.png) no-repeat;
  background-size: 70%;
  background-position: 20% center;
  border-right: solid 4px #fff;
}

.contents .search_item a.conditions {
  background: url(img/icon_searchcondition.png) no-repeat;
  background-size: 70%;
  background-position: 20% center;
}

.contents .selects {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: scroll;
  z-index: 110;
}

.contents .selects_header {
  z-index: 110;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, transparent, #000);
}

.contents .selects_header::before {
  content: "";
  margin-top: 80px;
}

.contents .selects_header .header_link_img {
  position: absolute;
  top: 0;
}

.contents .selects_header .header_link_ttl {
  position: absolute;
  top: 8px;
}

.contents .selects_header .close_btn {
  content: "";
  background-image: url(img/img_closebtn.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 35px;
  height: 35px;
  margin: 0 10px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.contents .selects_list {
  width: 90%;
  margin: 0 auto;
}

.contents .selects_list.name {
  margin: 80px auto 200px;
}

.contents .selects_list .maker::after, .contents .selects_list .car::after, .contents .selects_list .price::after, .contents .selects_list .distance::after, .contents .selects_list .year::after {
  display: none;
}

.contents .selects_list .ttl {
  width: 100%;
  padding: 5px 10px;
  background: #fff;
  font-size: 18px;
  margin-top: 30px;
}

.contents .selects_list .ttl span {
  font-size: 13px;
  vertical-align: bottom;
}

.contents .selects_list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.contents .selects_list_item {
  width: calc(50% - 2px);
  margin-top: 5px;
  height: 50px;
}

.contents .selects_list_item input {
  display: none;
}

.contents .selects_list_item label {
  font-size: 11px;
  font-weight: bold;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 3px solid transparent;
  background-color: #ddd;
  height: 50px;
}

.contents .selects_list_item label::before {
  width: 45px;
  height: 45px;
  margin: 0 10px;
}

.contents .selects .other label {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contents .selects .toyota label::before {
  content: "";
  background-image: url(img/img_brandtoyota.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .lexus label::before {
  content: "";
  background-image: url(img/img_brandlexus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .nissan label::before {
  content: "";
  background-image: url(img/img_brandnissan.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .honda label::before {
  content: "";
  background-image: url(img/img_brandhonda.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .suzuki label::before {
  content: "";
  background-image: url(img/img_brandsuzuki.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .daihatsu label::before {
  content: "";
  background-image: url(img/img_branddaihatsu.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .mazda label::before {
  content: "";
  background-image: url(img/img_brandmazda.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .subaru label::before {
  content: "";
  background-image: url(img/img_brandsubaru.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .mitsubisi label::before {
  content: "";
  background-image: url(img/img_brandmitsubishi.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .isuzu label::before {
  content: "";
  background-image: url(img/img_brandisuzu.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .mitsuoka label::before {
  content: "";
  background-image: url(img/img_brandmitsuoka.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .yunyuu label::before {
  content: "";
  background-image: url(img/img_brandimported.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .light label::before {
  content: "";
  background-image: url(img/icon_car01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .compact label::before {
  content: "";
  background-image: url(img/icon_car02.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .mini label::before {
  content: "";
  background-image: url(img/icon_car03.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .suv label::before {
  content: "";
  background-image: url(img/icon_car04.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .sedan label::before {
  content: "";
  background-image: url(img/icon_car05.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .sport label::before {
  content: "";
  background-image: url(img/icon_car06.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .station label::before {
  content: "";
  background-image: url(img/icon_car07.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .pan label::before {
  content: "";
  background-image: url(img/icon_car08.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects .car_name {
  width: 100%;
}

.contents .selects .car_name button {
  width: 100%;
  border: none;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
}

.contents .selects .car_name button input {
  width: 100%;
  height: 40px;
  background-color: #ddd;
  padding-left: 10px;
}

.contents .selects .car_name button .line1 {
  width: 20px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: 17%;
  transform: rotate(-45deg);
}

.contents .selects .car_name button .line2 {
  width: 2px;
  height: 20px;
  background-color: #000;
  position: absolute;
  top: 28%;
  right: 20%;
  transform: rotate(-45deg);
}

.contents .selects .car_name button .line3 {
  border-top: solid 10px #000;
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.contents .selects .car_name_list {
  width: 88%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  overflow-y: auto;
  z-index: 110;
}

.contents .selects .car_name_list label input {
  margin-right: 5px;
}

.contents .selects_list_item input[type=checkbox]:checked + label {
  content: "";
  border: 3px solid #abcd03;
  background-color: #fff;
}

.contents .selects_list_price .label {
  background-color: #ddd;
  border: 3px solid transparent;
}

.contents .selects_list_price .select {
  background-color: #ddd;
}

.contents .selects_list.body {
  margin: 80px auto;
}

.contents .selects_list.body .ttl {
  position: relative;
}

.contents .selects_list.body .ttl::after {
  content: "";
  width: 12px;
  height: 12px;
  border-bottom: solid 3px #000;
  border-right: solid 3px #000;
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translateY(-40%) rotate(45deg);
}

.contents .selects_list.body .one label::before {
  content: "";
  background-image: url(img/icon_car01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .two label::before {
  content: "";
  background-image: url(img/icon_car02.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .three label::before {
  content: "";
  background-image: url(img/icon_car03.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .four label::before {
  content: "";
  background-image: url(img/icon_car04.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .five label::before {
  content: "";
  background-image: url(img/icon_car05.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .six label::before {
  content: "";
  background-image: url(img/icon_car06.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .seven label::before {
  content: "";
  background-image: url(img/icon_car07.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list.body .eight label::before {
  content: "";
  background-image: url(img/icon_car08.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.contents .selects_list_btn {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 2%;
  right: 50%;
  transform: translateX(50%);
}

.contents .selects_list_btn_delete {
  width: 49%;
  background: #fff;
  color: #abcd03;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}

.contents .selects_list_btn_search {
  width: 49%;
  background: #abcd03;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.contents .selects_list_btn_search img {
  width: 20px;
  height: 20px;
}

.contents .selects_list_btn_search p {
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
}

.contents .selects_list.price {
  width: 90%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  margin: 0;
}

.contents .selects_list_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.contents .selects_list_price span {
  color: #fff;
}

.contents .selects_list_price label {
  width: 46%;
  outline: none;
  padding-left: 3%;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: #ddd;
  border: 3px solid #ddd;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

.contents .selects_list_price label.select {
  background-color: #fff;
  border: 3px solid #abcd03;
}

.contents .selects_list_price label.select select {
  background-color: #fff;
}

.contents .selects_list_price label select {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-color: #ddd;
  font-weight: bold;
}

.contents .selects_list_price label::after {
  content: "";
  border-bottom: solid 10px #000;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
  position: absolute;
  bottom: 50%;
  right: 10px;
  transform: translateY(50%) rotate(180deg);
}

.contents .keyword {
  width: 90%;
  height: 50px;
  margin: 0 auto 20px;
  position: relative;
  overflow: hidden;
}

.contents .keyword_form {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  height: 100%;
  padding-left: 10px;
  border: solid 2px #abcd03;
}

.contents .keyword_submit {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(img/icon_search.png);
  background-color: #789000;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  border-style: none;
}

.contents .price_down {
  width: 100%;
  position: relative;
  padding-top: 20px;
}

.contents .price_down_ttl {
  width: 100%;
  border-bottom: solid 10px #ea335b;
}

.contents .price_down_ttl img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.contents .price_down_list {
  width: 85%;
  margin: 30px auto 0;
}

.contents .price_down_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.contents .price_down_list_item {
  width: 47%;
  margin: 20px 0;
}

.contents .price_down_list_item_header {
  width: 100%;
  height: 16px;
  background-image: url(img/block_sale_start.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contents .price_down_list_item_header .left {
  width: 13px;
  height: 13px;
  background-image: url(img/sale.svg);
  background-size: contain;
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #ea335b;
  font-size: 12px;
  font-weight: bold;
  padding-left: 28px;
  line-height: 15px;
}

.contents .price_down_list_item_header .right {
  color: #ea335b;
  font-size: 10px;
  font-weight: bold;
  padding-left: 28px;
  line-height: 15px;
  position: absolute;
  right: 20%;
  top: 10%;
}

.contents .price_down_list_item_article {
  width: 100%;
  padding: 8px 5% 0;
  display: block;
  position: relative;
  border-right: solid 1px #ea335b;
  border-left: solid 1px #ea335b;
}

.contents .price_down_list_item_article img {
  width: 100%;
  border: solid 1px #ea335b;
  display: block;
}

.contents .price_down_list_item_article .explanation {
  color: #000;
  font-size: 10px;
  font-weight: bold;
  width: auto;
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 5px;
}

.contents .price_down_list_item_article .distance {
  color: #000;
  font-size: 10px;
  margin-top: 5px;
}

.contents .price_down_list_item_article .year {
  color: #000;
  font-size: 10px;
}

.contents .price_down_list_item_article .price {
  color: #ea335b;
  text-align: right;
  font-size: 10px;
  line-height: 18px;
}

.contents .price_down_list_item_article .price_past {
  color: blue;
  position: absolute;
  top: 75%;
  right: 5%;
  font-size: 12px;
}

.contents .price_down_list_item_article .price_now {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.contents .price_down_list_item_article .price_now img {
  width: 9px;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.contents .price_down_list_item_article .time_limit {
  color: #fff;
  background: #ea335b;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  font-weight: bold;
}

.contents .price_down_list_item_add {
  width: 100%;
  height: 40px;
  background-color: #ea335b;
  background-image: url(img/txt_contactadd_01.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .price_down_btn {
  width: 50%;
  color: #fff;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background: #ea335b;
  margin-bottom: 40px;
}

.contents .new_arrival {
  width: 100%;
  position: relative;
}

.contents .new_arrival_ttl {
  width: 100%;
  border-bottom: solid 10px #abcd03;
}

.contents .new_arrival_ttl img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.contents .new_arrival_list {
  width: 85%;
  margin: 30px auto 0;
}

.contents .new_arrival_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.contents .new_arrival_list_item {
  width: 47%;
  margin: 20px 0;
}

.contents .new_arrival_list_item_header {
  width: 100%;
  height: 16px;
  background-image: url(img/block_normal_start.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contents .new_arrival_list_item_header .left {
  width: 13px;
  height: 13px;
  background-image: url(img/star.svg);
  background-size: contain;
  background-position: 10px center;
  background-repeat: no-repeat;
  color: #abcd03;
  font-size: 12px;
  font-weight: bold;
  padding-left: 28px;
  line-height: 15px;
}

.contents .new_arrival_list_item_header .right {
  color: #000;
  font-size: 10px;
  font-weight: bold;
  padding-left: 28px;
  line-height: 15px;
  position: absolute;
  right: 20%;
  top: 10%;
}

.contents .new_arrival_list_item_article {
  width: 100%;
  padding: 8px 5% 0;
  display: block;
  position: relative;
  border-right: solid 1px #abcd03;
  border-left: solid 1px #abcd03;
}

.contents .new_arrival_list_item_article img {
  width: 100%;
  border: solid 1px #abcd03;
  display: block;
}

.contents .new_arrival_list_item_article .explanation {
  color: #000;
  font-size: 10px;
  font-weight: bold;
  width: auto;
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 5px;
}

.contents .new_arrival_list_item_article .distance {
  color: #000;
  font-size: 10px;
  margin-top: 5px;
}

.contents .new_arrival_list_item_article .year {
  color: #000;
  font-size: 10px;
}

.contents .new_arrival_list_item_article .price {
  color: #000;
  text-align: right;
  font-size: 10px;
  line-height: 18px;
}

.contents .new_arrival_list_item_article .price_now {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.contents .new_arrival_list_item_add {
  width: 100%;
  height: 40px;
  background-color: #abcd03;
  background-image: url(img/txt_contactadd_02.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .new_arrival_btn {
  width: 50%;
  color: #fff;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background: #abcd03;
  margin-bottom: 40px;
}

.footer {
  position: fixed;
  bottom: -55px;
  left: 0;
  width: 100%;
  background: #abcd03;
}

.footer.open {
  bottom: 0;
}

.footer .to_top {
  width: 58px;
  padding: 2px;
  color: #fff;
  background: #abcd03;
  position: absolute;
  top: -30px;
  right: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  transform: scale(1, 1, 5);
  transition: 0.3s;
}

.footer .to_top::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  border-bottom: solid 15px #abcd03;
  border-right: solid 29px transparent;
  border-left: solid 29px transparent;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  list-style: none;
  margin: 0 auto;
}

.footer_item {
  width: 100%;
}

.footer_item a {
  width: 100%;
  height: 100%;
  display: block;
}

.footer .home {
  width: calc(100% / 4);
  height: 50px;
  background-image: url(img/icon_footerhome.png);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .company {
  width: calc(100% / 4);
  height: 50px;
  background-image: url(img/icon_footerintro.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .favorite {
  width: calc(100% / 4);
  height: 50px;
  background-image: url(img/icon_footerfavorite.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .offcial {
  width: calc(100% / 4);
  height: 50px;
  background-image: url(img/icon_footersns.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_offcial {
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 35px;
  margin: 10px auto;
  position: relative;
}

.footer_offcial:after {
  content: "";
  position: absolute;
  top: -8px;
  right: 35px;
  border-bottom: 8px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  z-index: 1;
}

.footer_offcial_item {
  width: 20%;
  display: block;
}

.footer_offcial_item.blog {
  background-image: url(img/icon_footerblog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 100%;
  height: 100%;
}

.footer_offcial_item.manage {
  background-image: url(img/icon_footermypage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 100%;
}

.footer_offcial_item.tweet {
  background-image: url(img/icon_footertw.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 100%;
  height: 100%;
}

.footer_offcial_item.face {
  background-image: url(img/icon_footerfb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 100%;
}

.footer_offcial_item.insta {
  background-image: url(img/icon_footerig.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 100%;
}
